/*Maak hier jouw CSS!*/

.container {
    background-color: hsl(62, 94%, 89%);
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows:50px auto 50px 50px 50px 50px 50px;
    grid-template-areas:
            "blocka"
            "blockb"
            "blockc"
            "blockd"
            "blocke"
            "."
            "blockf";
}

.item {
    background-color: hsl(354, 73%, 57%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-a {
    grid-area: blocka;
}

#item-b {
    grid-area: blockb;
}

#item-c {
    grid-area: blockc;
}

#item-d {
    grid-area: blockd;
}

#item-e {
    grid-area: blocke;
}

#item-f {
    grid-area: blockf;
}

@media screen and (min-width: 576px) {
    /*Groter dan mobiel*/
    .container {
        background-color: hsl(62, 94%, 89%);
        display: grid;
        row-gap: 16px;
        column-gap: 16px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:50px 190px 100px auto 50px;
        grid-template-areas:
            "blocka  blockc blockc"
            "blockb blockc blockc"
            "blockb blocke blockd"
            "blockb blocke ."
            "blockf blockf blockf";
    }
}